.divPos {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);

}

div.background {
    background:url('Earth.jpg') center 0 no-repeat;
	height: 1000px;
    -webkit-box-shadow: 0 0 20px #333;
    box-shadow: 0 0 20px #333;
}    

body, html, .main {
    height: 100%;
}

section {
    min-height: 100%;
	opacity: 0.8;
}